/node_modules/
/public/build/
/public/hot/
/public/build
/public/manifest.json
/public/storage/
/storage/*.key
/storage/fonts/
/.fleet
/.idea
/vendor/
/.vscode/
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
auth.json
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
.DS_Store
firebase_credentials.json
